a, a:link, a:visited, a:hover, a:focus, a:active {
  color: #005C3C;
}

body {
  color: #515151;
  background-color: #fbfbfb;
}

h2 {
  color: #333030;
}

blockquote {
  color: #ada8a8;
}

summary {
  cursor: pointer;
}

summary::marker {
  color: #830300;
}

table {
  border: 1px solid #aaa;
  background-color: #eee;
}

table td, table.blueTable th {
  border: 1px solid #aaa;
}

table tr:nth-child(even) {
  background: #adbecc;
}

table thead {
  background: #a9c4d1;
  background: linear-gradient(to bottom, #bed3dc 0%, #b1cad5 66%, #A9C4D1 100%);
  border-bottom: 1px solid #8c8c8c;
}

table thead th {
  color: #fff;
  border-left: 1px solid #d0e4f5;
}

table tfoot {
  color: #fff;
  background: #d0e4f5;
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444;
}

.post, .article-page {
  background-color: #fff;
}

::-moz-selection {
  background: rgba(38, 57, 89, 0.8);
  color: #ffffff;
}

::selection {
  background: rgba(38, 57, 89, 0.8);
  color: #ffffff;
}
