.definition {
    display: block;
    font-weight: bold;
  }

.example {
    display: block;
    font-weight: bold;
}

.lemma {
    display: block;
    font-weight: bold;
}

.theorem {
    display: block;
    font-weight: bold;
}

.keyword-definition {
    text-decoration: underline;
}

.solution-summary {
    font-weight: bold;
}