table.rouge-table {
    border: none;
}

table.rouge-table td.rouge-gutter {
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding-right: .5rem;
    padding-left: .5rem;
    width: 0px;
  }

table.rouge-table td.rouge-code {
    border: none;
    padding-left: .5rem;
}

.highlight {
    margin: 0;
}

.highlighter-rouge {
    font-weight: 400;
    border-radius: 3px;
    padding: 0.1rem 0.1rem;
}
